/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --title-color: #DB00FF;
  --shadow_border: #FF0070;
  --text-decor: #FF0070;
  --heading: #FF0070;
  --text-head: #000028;
  --text: #F1B2CE;
  --font-title: "IBM Plex Mono bold";
  --font-text: "IBM Plex Mono";
  --link: #FF0070;
  --nav: #FF0070;
  --corner: #FF0070;
  --nav-click: rgba(255, 0, 112, 0.40);
  
  background: url("../images/cover-image-dark.png") lightgray 50% / cover no-repeat;
  background-attachment: fixed;
  

.decorative-dark-element {
    display: inline;
  }
}
