/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --title-color: #DB00FF;
  --shadow_border: #FF0070;
  --text-decor: #FF0070;
  --heading: #FF0070;
  --text-head: #000028;
  --text: #F1B2CE;
  --font-title: "IBM Plex Mono bold";
  --font-text: "IBM Plex Mono";
  --link: #FF0070;
  
  background-color: #000028;
  
  .header {
    background: url("../images/cover-image-dark.png") lightgray 50% / cover no-repeat;
    background-attachment: fixed;
  }

  .right-corner,
  .left-corner,
  .footer_right-corner,
  .footer_left-corner,
  .header__theme-menu {
  --shadow_border: #FF0070;
  --text-decor: #FF0070;
  }

}
