/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --title-color: #DB00FF;
  --shadow_border: #FF0070;
  --text-decor: #FF0070;
  --heading: #FF0070;
  --text-head: #000028;
  --text: #F1B2CE;
  --font: "IBM Plex Mono";
  --link: #FF0070;
  --nav: #FF0070;
  --corner: #FF0070;
  --nav-click: rgba(255, 0, 112, 0.40);
}
